{% extends 'users/base.html' %}
{% block body %}
    <h1 class="text-2xl m-10">🧑 Register User</h1>
    <div class="container">
        <form action="" method="post" class="bg-white shadow-md m-10 w-2/5 rounded px-8 pt-3 pb-8mb-4">
            {% csrf_token %}
            <div class="mb-2">
                <label class="block text-grey-700 text-sm text-boldmb-2">Email</label>
                <div class="appearance-none text-grey-700 shadow border rounded py-2 px-3 mr-10">
                    {{user_form.email}}
                </div>
            </div>
            <div class="mb-2">
                <label class="block text-grey-700 text-sm text-boldmb-2">Username</label>
                <div class="appearance-none text-grey-700 shadow border rounded py-2 px-3 mr-10">
                    {{user_form.username}}
                </div>
            </div>
            <div class="mb-2">
                <label class="block text-grey-700 text-sm text-boldmb-2">First Name</label>
                <div class="appearance-none text-grey-700 shadow border rounded py-2 px-3 mr-10">
                    {{user_form.first_name}}
                </div>
            </div>
            <div class="mb-2">
                <label class="block text-grey-700 text-sm text-boldmb-2">Last Name</label>
                <div class="appearance-none text-grey-700 shadow border rounded py-2 px-3 mr-10">
                    {{user_form.last_name}}
                </div>
            </div>
            <div class="mb-2">
                <label class="block text-grey-700 text-sm text-boldmb-2">Password</label>
                <div class="appearance-none text-grey-700 shadow border rounded py-2 px-3 mr-10">
                    {{user_form.password}}
                </div>
            </div>
            <div class="mb-2">
                <label class="block text-grey-700 text-sm text-boldmb-2">Confirm Password</label>
                <div class="appearance-none text-grey-700 shadow border rounded py-2 px-3 mr-10">
                    {{user_form.password2}}
                </div>
            </div>
            <button type="submit" class="text-white bg-green-500 px-5 py-2 my-5">Login</button>
        </form>
    </div>
    
    <p class="p-10"><a class="text-indigo-500" href="{% url 'password_reset' %}">Forgot Password? Click here to reset</a></p>
{% endblock %}