{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'users/style.css' %}">
    <link rel="stylesheet" href="{% static 'users/styles.css' %}">
    <script
  src="https://code.jquery.com/jquery-3.4.1.js"
  integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
  crossorigin="anonymous"></script>
 
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>  
    <title>Document</title>
</head>
<body>
    <nav class="shadow-lg p-5">
        <div class="px-4 mx-auto">
            <div class="flex justify-between">
                <div>
                    {% if user.is_authenticated %}
                        <a class="flex" href="{% url 'feed' %}">
                    {% else %}
                        <a class="flex" href="{% url 'login' %}">
                    {% endif %}
                            <img class="h-8 w-8 mr-2" src="{% static 'users/images/logo.png' %}" alt="">
                            <span class="font-semibold text-lg text-grey-500">Photo App</span>
                        </a>
                    
                </div>
                <div class="space-x-1 ">
                    {% if user.is_authenticated %}
                        <a class="py-4 px-2 text-grey-500 font-semibold" href="{% url 'create' %}">New Post</a>
                        <a class="py-4 px-2 text-grey-500 font-semibold" href="{% url 'profile' %}">Profile</a>
                        <a class="py-4 px-2 text-grey-500 font-semibold" href="{% url 'logout' %}">Logout</a>
                    {% else %}
                        <a class="py-4 px-2 text-grey-500 font-semibold" href="{% url 'login' %}">Login</a>
                        <a class="py-4 px-2 text-grey-500 font-semibold" href="{% url 'register' %}">Register</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </nav>
    {% if messages %}
        {% for message in messages %}
            {% if message.tags == 'success' %}
                <div class="p-5 bg-green-300">
                    {{message}}
                </div>
            {% elif message.tags == 'error' %}
                <div class="p-5 bg-red-300">
                    {{message}}
                </div>
            {% else %}
                <div class="p-5 bg-blue-300">
                    {{message}}
                </div>
            {% endif %}
        {% endfor %}
    {% endif %}
    {% block body %}
    {% endblock %}
</body>
</html>