{% extends 'users/base.html' %}
{% load static %}
{% load mathfilters %}
{% block body %}
    <div class="flex justify-center mt-5 p-10">
        <h2 class="text-3xl font-normal mb-2 text-grey-500">My Posts</h2>
    </div>
    <div class="grid mx-80 p-10 grid-cols-1">
        {% for post in posts %}
                <div class="rounded overflow-hidden w-[470px] h-[470px] mx-40 bg-white shadow-lg">
                    <div class="user-container flex m-5">
                        <img class="w-10 h-10 rounded-full" src="{{profile.photo.url}}" alt="">
                        <div class="m-2 font-bold">
                            <span class="text-indigo-500">
                                {{post.user}}
                            </span>
                        </div>
                    </div>
                    <img class="ml-5 pr-10" src="{{post.image.url}}" alt="">
                        <div class="flex justify-between px-6 pb-2 pt-4">
                            <div class="icon-container flex gap-3">
                                <img class="w-5 h-5" src="{% static 'users/images/like.png' %}" alt="">
                                <img class="w-5 h-5" src="{% static 'users/images/comment.png' %}" alt="">
                                <img class="w-5 h-5" src="{% static 'users/images/share.png' %}" alt="">
                            </div>
                            <div class="icon-container flex">
                                <button id="del" data-html="true" type="button" class="btn btn-secondary" data-container="body" data-toggle="popover" data-placement="top" data-content="<div class='p-2 bg-gray-100 '><button class='hover:bg-red-500 p-2' type='submit'><a href='{% url 'delete' post.id %}'>Delete</a></button></div>">
                                <img class="w-5 h-5" src="{% static 'users/images/dots.png' %}" alt="">
                                </button>
                            </div>
                        </div>
                    
                    <div class="ml-5">
                        {% if post.liked_by.count < 1 %}
                        {% elif post.liked_by.count == 1 %}
                            {{post.liked_by.first}} Likes this
                        {% elif post.liked_by.count > 1 %}
                            {{post.liked_by.first}} & {{post.liked_by.count|sub:1}} Other likes this
                        {% endif %}
                    </div>
                    <div class="px-6 pt-2 pb-3">
                        <div class="font-bold text-xl mb-2">{{post.title}}</div>
                        <p class="text-grey-700 text-base">{{post.caption}}</p>
                    </div>
                    <h1 class="ml-5 font-bold text-md">Comments</h1>
                    {% if post.comments.all %}
                    <div class="p-5 pt-1">
                        {% for comment in post.comments.all %}
                            <b>{{comment.posted_by}}: </b>{{comment.body}}
                            <br>
                        {% endfor %}
                    </div>
                    {% endif %}
                </div>
            <br><br>
        {% endfor %}
    </div>
    <script type="text/javascript">
        window.CSRF_TOKEN ="{{csrf_token}}"
        $(document).on('click','.btn-like',function(){
            var post_id=this.id
            $.ajax({
                method:"POST",
                url:"/posts/like",
                data:{post_id:post_id,csrfmiddlewaretoken:window.CSRF_TOKEN}
            })
            window.location.href="http://127.0.0.1:8000/posts/feed" 
        })

        $(document).ready(function(){
            $('[data-toggle="popover"]').popover();
        });
    </script>
{% endblock %}