{% extends 'users/base.html' %}
{% load static %}
{% block body %}
    <div class="flex justify-center mx-60 ">
        <div class="flex justify-center mt-5 p-10 w-1/3">
            <img class="rounded-full h-5/6 w-4/6" src="{{profile.photo.url}}" alt="">
        </div>
        <div class="flex justify-center mt-20 p-10">
            <h1 class="text-2xl font-normal mb-2 text-grey-500 pr-10">{{profile.user}}</h1>
            <a  href="{%url 'edit' %}"><button class="text-xl border rounded-lg bg-gray-300 px-7 mx-2" type="submit">Edit Profile</button></a>
        </div>
        <div class="flex justify-center mt-5 p-10">
            <h1></h1>
        </div>
    </div>
    <hr class="mx-60 border border-black">
    <div class="grid mx-60 p-10 grid-cols-3">
        {% for post in posts %}
            <a class="hover:shadow-md m-4" href="{% url 'index' %}#{{post.id}}"><img src="{{post.image.url}}" id="{{post.id}}" alt=""></a>
        {% endfor %}
    </div>
{% endblock %}